:root{
  --bg-color: #f9fd04;
  --primary-color: #2387fa;
  --secondary-color: #BBBBBB;
  --text-color: #164bf8;
  --font-fam: 
}

@font-face {
    font-family: 'Kanit';
    src: url(assets/fonts/Kanit/Kanit-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    padding-top: 30px;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.main .logo{
    padding: 20px;
    font-size: 30px;
    text-shadow: 2px 2px 15px #f9fd04, 
    2px 2px 2px #f7fa59;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main .button-list{
    margin-top: 40px;
    padding: 15px;
    position: absolute;
    z-index: 999;
}

img{
    position: relative;
    border-radius: 35px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 2;
}

.modal-body{
    text-align: justify;
}

.main .button-list button{
    border-radius: 15px;
    margin: 8px;
    color: #f7fa59;
    background-color: var(--text-color); 
    border-color: #f7fa59;
    font-family: kanit;
    font-size: 18px;  
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.301), 
    5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    outline: 0;
    display: flex;
    align-items: center;
}

.button-list button:hover{
    background-color: #f7fa59;
    color: var(--text-color);
    padding-right: 8px;
    padding-bottom: 3px;
    transform: scale(1.1)
}

.button-Perfil:hover:after{
    content: 'Perfil';   
} 

.button-Formação:hover:after{
    content: 'Formação';
} 

.button-Experiência:hover:after{
    content: 'Experiência';
} 

.button-Depoimento:hover:after{
    content: 'Depoimento';
} 

.button-Trabalhos:hover:after{
    content: 'Trabalhos';
} 

.button-Contato:hover:after{
    content: 'Contato';
} 

.button-Programe-IO:hover:after{
    content: 'Programe IO';
} 

i{
    margin: 7px;
    font-size: 25px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    align-content: center;
}

body{
    color: var(--text-color);
    font-family: kanit;
}

.gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg , #feff86, #b0daff , #19a7ce, #146c94);
    background-size: 200% 200%; 
    animation: colors 10s ease infinite;
}

.janela-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal{
    width: 60%;
    min-width:400px;
    min-height: 200px;
    background-color: #ffffff62;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 10px;
}

.fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.767);
    font-weight: 500;
    font-size: 10pt;
    cursor: pointer;
}


@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.janela-modal.abrir{
    display: flex;
}

.abrir .modal{
    animation: abrirmodal 0.5s;
} 

@keyframes colors {
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
}